<p id="notice"><%= notice %></p>

<h1>Armours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Save</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @armours.each do |armour| %>
      <tr>
        <td><%= armour.name %></td>
        <td><%= armour.save %></td>
        <td><%= armour.cost %></td>
        <td><%= link_to 'Show', armour %></td>
        <td><%= link_to 'Edit', edit_armour_path(armour) %></td>
        <td><%= link_to 'Destroy', armour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Armour', new_armour_path %>
