<p id="notice"><%= notice %></p>

<p>
  <strong>Move:</strong>
  <%= @warrior.move %>
</p>

<p>
  <strong>Weapon skill:</strong>
  <%= @warrior.weapon_skill %>
</p>

<p>
  <strong>Ballistic skill:</strong>
  <%= @warrior.ballistic_skill %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @warrior.strength %>
</p>

<p>
  <strong>Toughness:</strong>
  <%= @warrior.toughness %>
</p>

<p>
  <strong>Wwounds:</strong>
  <%= @warrior.wwounds %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @warrior.initiative %>
</p>

<p>
  <strong>Attacks:</strong>
  <%= @warrior.attacks %>
</p>

<p>
  <strong>Leadership:</strong>
  <%= @warrior.leadership %>
</p>

<p>
  <strong>Name:</strong>
  <%= @warrior.name %>
</p>

<p>
  <strong>Warrior type:</strong>
  <%= @warrior.warrior_type %>
</p>

<p>
  <strong>Warband:</strong>
  <%= @warrior.warband %>
</p>

<p>
  <strong>Description:</strong>
  <%= @warrior.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @warrior.cost %>
</p>

<p>
  <strong>Number:</strong>
  <%= @warrior.number %>
</p>

<%= link_to 'Edit', edit_warrior_path(@warrior) %> |
<%= link_to 'Back', warriors_path %>
