<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weapon.name %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @weapon.cost %>
</p>

<p>
  <strong>Range:</strong>
  <%= @weapon.range %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @weapon.strength %>
</p>

<%= link_to 'Edit', edit_weapon_path(@weapon) %> |
<%= link_to 'Back', weapons_path %>
