<p id="notice"><%= notice %></p>

<h1>Equipment Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Warband</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_lists.each do |equipment_list| %>
      <tr>
        <td><%= equipment_list.name %></td>
        <td><%= equipment_list.warband %></td>
        <td><%= link_to 'Show', equipment_list %></td>
        <td><%= link_to 'Edit', edit_equipment_list_path(equipment_list) %></td>
        <td><%= link_to 'Destroy', equipment_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment List', new_equipment_list_path %>
